html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
  background-color: #fff;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, p {
  font-family: "neuzeit-grotesk", sans-serif; 
  margin: 0;
  padding: 0;
}

.ui {
  z-index: 100;
  position: absolute;
  background: #fff;
  border: 2px solid #ddd;
}


header.ui {
  top: 10px;
  left: 0;
  right: 0;
  width: 840px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
/*  border-left: none;
  border-right: none;
  border-top: none;*/
}

header.ui h1 {
  display: inline;
}

.totals {
  display: none;
  right: 25px;
  top: 25px;
  width: 150px;
  height: 150px;
  padding: 10px;
}

.totals h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.totals p.profit {
  color: red;
}

.totals p.tax {
  color: #000;
}

#map {
  top: 0;
  left: 0;
  bottom: 100px;
  right: 0;
  z-index: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.circle {
  pointer-events: none;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.graph {
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

/* D3 histogram stuff */
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

