/* Palette */
/* red: #CE0059 */
/* pink: #FF6BB5 */
/* 30K: #B3B3B3; */

html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
  background-color: #fff;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-size: 1em;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.hidden {
  display: none;
}

.text-shadow {
  text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

.container {
  position: relative;
  overflow: hidden;
}

h1, h2, h3, h4, h5, p, div {
  font-family: "neuzeit-grotesk", sans-serif; 
  color: #333;
  margin: 0;
  padding: 0;
}

a {
  color: #FF6BB5;
  transition: color 0.5s ease;
}

a:hover {
  color: #CE0059;
}

/* nav elements & social icons */
nav {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 100;
  margin: 0;
  padding: 0;
  height: 50px;
}

.social-share {
  z-index: 100;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 50px;
}

ul.icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.icons li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.icons.social li:last-child {
  /*margin-left: 10px;*/
}

.fa-stack-1x {
  color: #fff;
}

.icon {
  margin: 0;
  padding: 0;
  color: #B3B3B3;
  transition: color 0.5s ease;
}

.icon:hover {
  color: #FF6BB5;
}

/* UI boxes */
.ui {
  z-index: 100;
  position: absolute;
/*  background: #fff;
  border: 2px solid #ddd;*/
}


header {
  top: 10px;
  left: 0;
  right: 0;
  width: 840px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  border: none;
  background: transparent;
/*  border-left: none;
  border-right: none;
  border-top: none;*/
}

header h1 {
  display: inline;
  color: #CE0059;
  font-size: 2em;
}

/* map elements */
#map {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.leaflet-top.leaflet-right .leaflet-control {
  margin-top: 60px;
  margin-right: 15px;
}

/* not the svg but the div containing the profit & tax info */
.circle {
  display: none;
  z-index: 110;
  pointer-events: none;
  border: 0;
  top: 0;
  left: 0;
  background: transparent;
}

.total-flips,
.total-tax {
  text-align: center;
  position: relative;
  margin-top: 6%;
}

h1.profit, h1.tax {
  position: relative;
  font-size: 7em;
}

h1.tax {
  color: #FF6BB5;
}

h1.profit {
  color: #CE0059;
}

.total-flips h4, 
.total-tax h4 {
  font-size: 1.5em;
}

.total-flips h3,
.total-tax h3 {
  font-size: 2em;
  /*text-transform: uppercase;*/
}

.total-flips {
  /*top: 50px;*/
}

.total-flips h3 {
  width: 300px;
  margin: 0 auto;
}

.total-tax {
  /*top: 80px;*/
}

.hoods.list, .date-range {
  font-weight: normal;
  max-width: 500px;
  margin: 0 auto;
}

.hoods:first-of-type {
  margin-top: 4%;
}

/* "within this circle..." */
#curve-text {
  font-size: 20px;
  font-style: italic;
  z-index: 100;
  color: #000;
}

/* modal pop-up */
.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 13px 20px;
  border-radius: 50%;
  background: #fff;
}

.modal > div > p {
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 20px;
  width: 65%;
}

.modal > div > p:first-of-type {
  margin-top: 5%;
}

.modal > div > p.close-modal {
  margin-top: 6%;
  text-align: center;
}

.modal > div > h2 {
  margin-top: 7%;
  margin-bottom: 12px;
  font-size: 2em;
  text-align: center;
  color: #FF6BB5;
}

.close {
  margin: 0 auto;
  width: 24px;
  color: #999;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 3em;
  transition: color 0.5s ease;
}

.close:hover {
  color: #CE0059;
}


/* D3 histogram stuff */
.graph {
  bottom: 23px;
  height: 175px;
  width: 375px;
  background: transparent;
  border: none;
}

.graph.flips {
  left: 10px;
}

.graph.profit {
  right: 0;
}

.axis path, .axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.bar rect {
  fill: #FF6BB5;
  shape-rendering: crispEdges;
}

.graph text {
  font-size: 13px;
  fill: #333;
}

/* Media Queries: small screens */
@media only  screen and (max-device-width: 425px) {

  /* hide graphs */
  .graph {
    visibility: hidden;
  }

  #curve-text {
    font-size: 1.2em;
  }

  header {
    width: 80%;
  }

  header h1 {
    font-size: 2em;
  }

  .total-flips h1, .total-tax h1 {
    font-size: 3em;
  }

  .total-flips h3, .total-tax h3 {
    font-size: 1.2em;
  }

  .navbar, .social-share {
    top: initial;
    bottom: 15px;
  }

  .leaflet-top.leaflet-right .leaflet-control {
    display: none;
  }

  .modal > div {
    position: relative;
    margin: 0;
    overflow-y: scroll;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0;
  }

  .modal > div > p {
    font-size: 1em;
    width: 80%;
  }

}
